@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body{
    margin: 0;
    border-bottom: #1558FF;
    padding: 0;
    font-family: 'KoHo', sans-serif;
    overflow-x: visible; /*TIRA A BARRA DE SCROLL HORIZONTAL*/
    display: flex;
    border: none;
}

html{
    scroll-behavior: smooth;
    margin: 0;
    padding:0;
    border: none;
    background-color: #000000;
}

.general-positions{
    grid-template-areas: "header" "main";
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    width: 100%;
}

.header-container{
    grid-area: header;
    box-sizing: border-box;
    width: 100%;
    height: 87vh;
    background-image: url("../assets/back2.png");
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    border-width: 10px;
    border-color: #1558FF;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.initial-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.title{
    font-family: 'krona one';
    font-size: 128px;
    color: rgb(255, 255, 255);
    margin: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -180px;

}

.card-title{
    height: 200px;
    width: 1100px;
    background-color: #1558FF;
    border-radius: 50px;
    opacity: 30%;

    display: flex;
    align-items: stretch;
    align-self: flex-end;
    /*top: 160px;
    left: 200px;*/
}

.main-container{
    grid-area: "main";
    height: auto; /*define o tamanho vertical da main*/
    width: 100%; /*define o tamanho horizontal da main*/
    box-sizing: border-box;
    padding-bottom: 70px;

}

.inter-header-main{
    display: flex;
    justify-content: center;
    align-items: center;
   /*align-items: center;*/
    flex-direction: column;
    box-sizing: border-box;
}

.seta{
    background-image: url(../assets/seta2.png);
    background-size: 45px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*animation-name: seta;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;*/
}

.link1{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Krona one';
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    padding: 30px;
}

/*REGIÃO DOS CARDS E RESPECTIVOS TEXTOS*/
.cards-general{
    background-color: #ffffff;
    grid-template-areas: "card1 text1" "text2 card2" "card3 text3";
}

.card-container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
}
.card-container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
}
.card-container3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.card1{/*representa o formato geometrico principal*/
    grid-area: card1;
    width: 300px;
    height: 300px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    margin: 3rem 0 0 0;

    background: rgb(70, 70, 180);
    /*colocar uma imagem dentro das formas geometricas*/
    filter: grayscale(0.8);/*da efeito de mudança de cor cinza*/
    background-image: url(../assets/card1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    animation: translate;
    animation-duration: 1s;
    animation-iteration-count: unset;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}

@keyframes translate{
    0%{
        opacity: 0;

    }
    50%{
        transform: translate(30px);
        opacity: 2;
    }
    100%{
        opacity: 1;
    }
}

.card2{/*representa o formato geometrico principal*/
    grid-area: card2;
    width: 300px;
    height: 300px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    margin: 3rem 0 0 0;

    background: rgb(70, 70, 180);
    /*colocar uma imagem dentro das formas geometricas*/
    filter: grayscale(0.8);/*da efeito de mudança de cor cinza*/
    background-image:  url(../assets/card2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.card3{/*representa o formato geometrico principal*/
    grid-area: card3;
    width: 300px;
    height: 300px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    margin: 3rem 0 0 0;

    justify-content: center;
    align-items: center;
    background: rgb(70, 70, 180);
    /*colocar uma imagem dentro das formas geometricas*/
    filter: grayscale(0.8);/*da efeito de mudança de cor cinza*/
    background-image:  url(../assets/card3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.text1{
    grid-area: text1;
    line-height: 50px;
    font-size: 15px;
    font-family: 'Krona one';
    width: 650px;
    text-align: justify;
}

.text2{
    grid-area: text2;
    line-height: 50px;
    font-size: 15px;
    font-family: 'Krona one';
    width: 650px;
    text-align: justify;
}

.text3{
    grid-area: text3;
    line-height: 50px;
    font-size: 15px;
    font-family: 'Krona one';
    width: 650px;
    text-align: justify;
}

.card1:hover{
    filter: unset;/*tira o efeito de mudança de cor cinza*/
    transform: scale(1.1);
}

.card2:hover:hover{
    filter: unset;/*tira o efeito de mudança de cor cinza*/
    transform: scale(1.1);
}

.card3:hover:hover{
    filter: unset;/*tira o efeito de mudança de cor cinza*/
    transform: scale(1.1);
}

/*FAIXA AZUL DE INFORMAÇÕES*/


.info{
    background: linear-gradient(90deg, #99CCE2, #DDE1EA);
    height: auto;
    font-family: 'krona one';
    display: grid;
    grid-template-areas: "info-title info-img" "info-text info-img";
}

.info-title{
    font-size: 15px;
    color: #ffff;
    margin: 25px 25px ;
    margin-top: 25px;
    padding: 25px;
    grid-area: info-title;
}

.info-text{
    font-size: 15px;
    color: #ffff;
    margin: 25px 25px ;
    margin-top: 25px;
    padding: 25px;
    max-width: 350px;
    grid-area: info-text;
}

.info-img{
    display: flex;
    align-self: flex-start;
    grid-area: info-img;
    filter: grayscale(0.8);
    background-size: cover;
    background-position: end;
    transition: 0.5s ease-in-out;
}

.info-img:hover{
    filter: unset;
}

/* REGIÃO DE ÍCONES*/

.general-icons{
    display: grid;
    grid-template-areas: "ambiental electrical civil";
    grid-auto-flow: column;
    padding: 120px 0px;
    grid-column-gap: 100pxx;
}

/*ÍCONES AMBIENTAL E TEXTO*/
.ambiental{
    font-family: 'Krona one';
    grid-area: ambiental;
    display: grid;
    justify-content: center;
    align-items: center;
}
.img-ambiental{
    justify-items: center;
}
.text-ambiental{
    max-width: 150px;
    text-align: center;
}

/*ÍCONES ELECTRICAL E TEXTO*/
.electrical{
    color: #000;
    font-family: 'Krona one';
    grid-area: electrical;
    display: grid;
    justify-content: center;
    align-items: center;
}
.img-electrical{
    justify-items: center;
}
.text-electrical{
    max-width: 150px;
    text-align: center;
}

/*ÍCONES CIVIL E TEXTO*/
.civil{
    color: #000;
    font-family: 'Krona one';
    grid-area: civil;
    display: grid;
    justify-content: center;
    align-items: center;
}
.img-civil{
    justify-items: center;
}
.text-civil{
    max-width: 150px;
    text-align: center;
}



.footer{
    width: 99%;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    columns: auto;
    text-align: center;
    font-family: 'Krona one';
    font-size: 12px;
    background-color: #ffffff;

}

/*Estilização da barra de scrow*/

:-webkit-scrollbar{
    background: #1558FF;
}
::-webkit-scrollbar-button{ /*botoes*/
    background: #243C58;
}
::-webkit-scrollbar-thumb{ /*barra de scroll*/
    background: #486177;
    border: none;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{ /*botoes*/
    background: #0d5fa7;
}
