
<body>
  
  <div class="menu">
  </div>
  <header class="header-container">
    <div class="initial-card">
      <div class="card-title"></div>
    
      <h1 class="title">
        ENERGIN
      </h1>
  </div>
  </header>
  
  <main class="main-container">
    <div class="inter-header-main">
      <div class="seta" href="#aboute" ></div>
      <div class="text-bellow-arrow">A REFERÊNCIA EM SUBESTAÇÃO</div>
    </div>
        <!--ABOUTE ENERGIN-->
        <!--card1-->
        <div class="card-container" data-aos="fade-left">
          <div class="card1" id="aboute"></div>
              <div class="card-wrapper">
                      <a class="text1">
                        Projetos elétricos em baixa, média e alta tensão em modalidade residencial, predial e industrial
                      </a>
              </div>
        </div>

        <!--card2-->
        <!--<div class="card-container" data-aos="fade-left">
          <div class="card1" id="aboute"></div>
              <div class="card-wrapper">
                      <a class="text2">
                        Projetos elétricos em baixa, média e alta tensão em modalidade residencial, predial e industrial
                      </a>
              </div>
        </div>-->
  </main>
</body>
  

