<div class="menu" id="menus" routerLink="">
  <ul class="menu-geral" style="list-style:none;">
    <li><img class="logo" src="https://firebasestorage.googleapis.com/v0/b/imagens-8678d.appspot.com/o/9-re-co-re.png?alt=media&token=846330e1-8fb2-4548-b51a-f653d4687870" alt=""></li>
    <li><a href="#home" class="menu-items">INÍCIO</a></li>
    <li><a href="#projetos" class="menu-items" id="menu-items">PROJETOS</a></li>
    <li><a href="#quem-somos" class="menu-items">QUEM SOMOS?</a></li>
    <li><a href="#campos" class="menu-items">CAMPOS</a></li>
  </ul>
</div>

<router-outlet></router-outlet>

<!--<app-electrical></app-electrical>-->