/* ESTILIZAÇÃO DO MENU*/
#menus{
    position: fixed;
    z-index: 1000;
    background-color: #21a5e7a3;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 0px 0px 20px 20px;
}
.menu-secundario{
    position: fixed;
    z-index: 1000;
    background-color: #22acf1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.menu-geral{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-family: 'Krona one';
    padding: 0px 0px 0px 20px;
    border: none;
}
.menu-items{
    padding: 0px 15px 0px 0px;
    color: #ffff;
    text-decoration: none;
    font-size: 14px;
}
.menu-itens:hover{
    color: #1558FF;
    background-color: #1558FF;
}
.logo{
    background-size: auto;
    margin: none;
    padding: none;
}


@media screen and (max-width: 600px){ /*RESPONSIVIDADE DO MENU*/
    .menu-items{
        padding: 0px 15px 0px 0px;
        color: #ffff;
        text-decoration: none;
        font-size: 10px;
    }
    .logo{
        width: 30px;
    }
}

@media screen and (max-width: 440px){
    .menu-items{
        padding: 0px 15px 0px 0px;
        color: #ffff;
        text-decoration: none;
        font-size: 9px;
    }
    .logo{
        width: 23px;
        padding: 0px 15px 0px 0px;
    }
    .menu-geral{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: 'Krona one';
    }
}