<html>
<body>
  <div class="menu">
  </div>
  <header class="header-container">
    <div class="initial-card">
      <div class="card-title"></div>
    
      <h1 class="title">
        ENERGIN
      </h1>
  </div>
  </header>
  
  <main class="main-container">
    <div class="inter-header-main">
      <a href="#aboute" class="link1">A REFERÊNCIA EM SUBESTAÇÃO</a>
      <div class="seta" id="aboute"></div>
    </div>
        <!--ABOUTE ENERGIN-->
        <!--card1-->
    <div class="cards-general">    
      <div class="card-container" data-aos="fade-left">
        <div class="card1"></div>
          <div class="card-wrapper">
            <h2 class="project-title">
              <!--COLOCAR TÍTULO E LINK PARA ACESSAR O SEGUNDO PROJETO-->
                    <a class="text1">
                      Projetos elétricos em baixa, média e alta tensão em modalidade residencial, predial e industrial <br>
                      Construção e manutenção de Subestações <br>
                      Instalação e manutenção de Linhas Vivas
                    </a>
            </h2>
          </div>
      </div>
        <!--card2-->
      <div class="card-container" data-aos="fade-left">
        <div class="card2"></div>
          <div class="card-wrapper">
            <h2 class="project-title">
                    <a class="text2">
                      Projetos elétricos em baixa, média e alta tensão em modalidade residencial, predial e industrial <br>
                      Construção e manutenção de Subestações <br>
                      Instalação e manutenção de Linhas Vivas
                    </a>
            </h2>
          </div>
      </div>
      <!--card3-->
      <div class="card-container" data-aos="fade-left">
        <div class="card3"></div>
          <div class="card-wrapper">
            <h2 class="project-title">
                    <a class="text3">
                      Projetos elétricos em baixa, média e alta tensão em modalidade residencial, predial e industrial <br>
                      Construção e manutenção de Subestações <br>
                      Instalação e manutenção de Linhas Vivas
                    </a>
            </h2>
          </div>
      </div>
          <!--card2-->
          <!--<div class="card-container" data-aos="fade-left">
            <div class="card1" id="aboute"></div>
                <div class="card-wrapper">
                        <a class="text2">
                          Projetos elétricos em baixa, média e alta tensão em modalidade residencial, predial e industrial
                        </a>
                </div>
          </div>-->
    </div>
  </main>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        duration: 1000
    });
  </script>

</body>
  
<div class="info">
  <h2 class="info-title">Quem somos nós</h2>
  <p class="info-text">Somos uma empresa focada e especializada em subestações, construção civil, estruturas metálicas, sistema de gerenciamento sanitário e instalações elétricas de baixa, média e alta tensão.</p>
  <img class="info-img" src="../assets/little2.jpg">
</div>

<hr>

<footer class="footer">
  <p>Energin da Tecnologia e Inovação da Amazônia LTDA. - CNPJ: 05.682.859/0001-41. R. Prof. Castelo Branco, 2, CJ JARDIM <br>YOLANDA - Parque 10 de Novembro, Manaus - AM, 69055-090. Todos os direitos reservados ®2022.
  </p>
</footer>

</html>