<html>
<body>

  <div class="general-positions" id="home">
    <header class="header-container">
      <div class="initial-card">
        <div class="card-title">ENERGIN</div>
           <!-- <h1 class="title"></h1>-->
        </div>
    </header>
    
    <main class="main-container">
      <div class="inter-header-main">
        <div href="" class="link1">A REFERÊNCIA EM SUBESTAÇÃO</div>
        <div class="seta" id="projetos"></div>
      </div>
          <!--ABOUTE ENERGIN-->
          <!--card1-->
      <div class="cards-general">    
        <div class="card-container1" data-aos="fade-left">
          <div class="card1"></div>
            <div class="card-wrapper">
                <!--COLOCAR TÍTULO E LINK PARA ACESSAR O SEGUNDO PROJETO-->
                      <a class="text1">
                        Projetos elétricos em baixa, média e alta tensão em modalidade residencial, predial e industrial <br>
                        Construção e manutenção de Subestações <br>
                        Instalação e manutenção de Linhas Vivas
                      </a>
            </div>
        </div>
          <!--card2-->
        <div class="card-container2" data-aos="fade-left">
          <div class="card2"></div>
            <div class="card-wrapper">
                      <a class="text2">
                        Esgotamento sanitário <br>
                        Desobstrução de Redes de Esgotos <br>
                        Limpeza de Caixa D´água
                      </a>
            </div>
        </div>
        <!--card3-->
        <div class="card-container3" data-aos="fade-left">
          <div class="card3"></div>
            <div class="card-wrapper">
                      <a class="text3">
                        Projetos e Execução de Edificações<br>
                        Construção a Seco<br>
                        Construção e Manutenção em Estrutura Metálica <br>
                        Inovação e Tecnologia em Processos Civis
                      </a>
            </div>
        </div>
            <!--card4-->
            <!--<div class="card-container" data-aos="fade-left">
              <div class="card1" id="aboute"></div>
                  <div class="card-wrapper">
                          <a class="text2">
                            Projetos elétricos em baixa, média e alta tensão em modalidade residencial, predial e industrial
                          </a>
                  </div>
            </div>-->
      </div>
    </main>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
          duration: 1000
      });
    </script>
  </div>

  <div class="triang1"></div>
  <div class="info-padding" id="quem-somos">
    <div class="info" >
      <h2 class="info-title">Quem somos nós?</h2>
      <p class="info-text">Somos uma empresa focada e especializada em subestações, construção civil, estruturas metálicas, sistema de gerenciamento sanitário e instalações elétricas de baixa, média e alta tensão.</p>
        <img class="info-img" src="../assets/Imagem_site7_re.jpg">
    </div>
  </div>
  <div class="triang2"></div>

  <!--ÍCONES AREA-->
  
  <div class="general-icons" id="campos">
    <div class="ambiental" [routerLink]=''>
      <img class="img-ambiental" src="../assets/ambiental.png"> <br><br>
      <p class="text-ambiental">ENGENHARIA AMBIENTAL E SANITÁRIA</p>
    </div>
  
    <div class="electrical">
      <img src="../assets/electrical.png" alt="" routerLink="/electrical">
      <p class="text-electrical" routerLink="/electrical">ENGENHARIA ELÉTRICA</p>
    </div>
  
    <div class="civil">
      <img src="../assets/civil.png" alt="">
      <p class="text-civil">ENGENHARIA CIVIL</p>
    </div>
  </div>
  
  <!--CONTATOS AREA-->
  
  <h2 class="contacts">CONTATOS</h2>

  <div class="general-contacts">
    <div class="contacts-email">
      <mat-icon class="icon-email">email</mat-icon> <!--email icon-->
      <div class="email1">energin@gmail.com</div>
    </div>
  
    <div class="contacts-phone">
      <mat-icon class="icon-phone">phone</mat-icon> <!--phone icon-->
      <div class="number1">(92)99198-0877</div>
    </div>
  
<!--<div class="contacts-instagram">
      <mat-icon class="icon">phone</mat-icon> 
      <div class="number1"></div>
      <div class="number2"></div>
    </div>-->
  </div>
  
  <hr class="line">
  
  <footer class="footer">
    <p class="footer-text">Energin da Tecnologia e Inovação da Amazônia LTDA. - CNPJ: 05.682.859/0001-41. R. Prof. Castelo Branco, 2, CJ JARDIM <br>YOLANDA - Parque 10 de Novembro, Manaus - AM, 69055-090. Todos os direitos reservados ®2022.
    </p>
    <img class="last-logo" src="../assets/energin-logo/3-co-re.png" alt="">
  </footer>
</body>
</html>
