@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body{
    margin: 0;
    border-bottom: #1558FF;
    padding: 0;
    font-family: 'KoHo', sans-serif;
    overflow-x: visible; /*TIRA A BARRA DE SCROLL HORIZONTAL*/
    display: flex;

    flex-direction: column;

}

html, body{
    scroll-behavior: smooth !important;
    margin: 0;
    padding:0;
 
}

/* ESTILIZAÇÃO DO MENU*/
#menus{
    position: fixed;
    z-index: 1000;
    background-color: #21a5e7a3;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 0px 0px 20px 20px;
}
.menu-secundario{
    position: fixed;
    z-index: 1000;
    background-color: #22acf1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.menu-geral{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-family: 'Krona one';
}
.menu-items{
    padding: 0px 15px 0px 0px;
    color: #ffff;
    text-decoration: none;
    font-size: 14px;
}
.menu-itens:hover{
    color: #1558FF;
    background-color: #1558FF;
}
.logo{
    background-size: auto;
}

.general-positions{
    grid-template-areas: "header" "main";
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    width: 100%;
}

.header-container{
    grid-area: header;
    box-sizing: border-box;
    width: 100%;
    min-width: 800px;
    height: 87vh;
    background-image: url("/assets/back2.png");
    background-repeat: no-repeat;
    background-position: initial;

    background-size: cover;
    border-width: 10px;
    border-color: #1558FF;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: -1;
}

.initial-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

/*.title{
    font-family: 'krona one';
    font-size: 128px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    margin: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -110px;

}*/

.card-title{
    height: 200px;
    width: 1100px;
    background-color: #1558FF;
    border-radius: 50px;
    opacity: 30%;
    color: #ffff;
    font-family: 'krona one';
    font-size: 128px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    /*top: 160px;
    left: 200px;*/
}

.main-container{
    grid-area: "main";
    height: auto; /*define o tamanho vertical da main*/
    width: 100%; /*define o tamanho horizontal da main*/
    box-sizing: border-box;
    padding-bottom: 70px;

}

.inter-header-main{
    display: flex;
    justify-content: center;
    align-items: center;
   /*align-items: center;*/
    flex-direction: column;
    box-sizing: border-box;
}

.seta{
    background-image: url(/assets/seta2.png);
    background-size: 45px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*animation-name: seta;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;*/
}

.link1{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Krona one';
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    padding: 30px;
}

/*REGIÃO DOS CARDS E RESPECTIVOS TEXTOS*/
.cards-general{
    background-color: #ffffff;
    grid-template-areas: "card1 text1" "text2 card2" "card3 text3";
    /*min-width: 1010px;*/
}
.card-container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
}
.card-container2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
}
.card-container3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.card1{/*representa o formato geometrico principal*/
    grid-area: card1;
    width: 350px;
    height: 350px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    margin: 3rem 0 0 0;

    background: rgb(70, 70, 180);
    /*colocar uma imagem dentro das formas geometricas*/
    filter: grayscale(0.8);/*da efeito de mudança de cor cinza*/
    background-image: url(/assets/card1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    /*animation: translate;
    animation-duration: 1s;
    animation-iteration-count: unset;
    animation-timing-function: ease-in-out;
    animation-direction: normal;*/
}

/*@keyframes translate{
    0%{
        opacity: 0;

    }
    50%{
        transform: translate(30px);
        opacity: 2;
    }
    100%{
        opacity: 1;
    }
}*/

.card2{/*representa o formato geometrico principal*/
    grid-area: card2;
    width: 350px;
    height: 350px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    margin: 3rem 0 0 0;

    background: rgb(70, 70, 180);
    /*colocar uma imagem dentro das formas geometricas*/
    filter: grayscale(0.8);/*da efeito de mudança de cor cinza*/
    background-image:  url(/assets/card2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.card3{/*representa o formato geometrico principal*/
    grid-area: card3;
    width: 350px;
    height: 350px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    margin: 3rem 0 0 0;

    justify-content: center;
    align-items: center;
    background: rgb(70, 70, 180);
    /*colocar uma imagem dentro das formas geometricas*/
    filter: grayscale(0.8);/*da efeito de mudança de cor cinza*/
    background-image:  url(/assets/card3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.text1{
    grid-area: text1;
    line-height: 50px;
    font-size: 15px;
    font-family: 'Krona one';
    width: 650px;
    text-align: justify;
}

.text2{
    grid-area: text2;
    line-height: 50px;
    font-size: 15px;
    font-family: 'Krona one';
    width: 650px;
    text-align: justify;
}

.text3{
    grid-area: text3;
    line-height: 50px;
    font-size: 15px;
    font-family: 'Krona one';
    width: 650px;
    text-align: justify;
}

.card1:hover{
    filter: unset;/*tira o efeito de mudança de cor cinza*/
    transform: scale(1.1);
}

.card2:hover:hover{
    filter: unset;/*tira o efeito de mudança de cor cinza*/
    transform: scale(1.1);
}

.card3:hover:hover{
    filter: unset;/*tira o efeito de mudança de cor cinza*/
    transform: scale(1.1);
}

/*FAIXA AZUL DE INFORMAÇÕES*/


.info{
    background: #99CCE2;
    width: 80%;
    height: auto;
    font-family: 'krona one';
    display: grid;
    grid-template-areas: "info-title info-img" "info-text info-img";
    padding: 0px 120px;
}
.info-title{
    font-size: 15px;
    color: #ffff;
    margin: 25px 25px ;
    margin-top: 25px;
    padding: 25px;
    grid-area: info-title;
}
.info-text{
    font-size: 15px;
    color: #ffff;
    margin: 25px 25px ;
    margin-top: 25px;
    padding: 25px;
    max-width: 350px;
    grid-area: info-text;
}
.info-img{
    display: flex;
    align-self: flex-start;
    grid-area: info-img;
    filter: grayscale(0.8);
    background-size: cover;
    background-position: end;
    transition: 0.5s ease-in-out;
}
.info-img:hover{
    filter: unset;
}
.info-padding{
    padding: 75px 0px 0px 0px;
}
/*.triang1{
    width: 0;
    height: 0;
    position: relative;
    border-left: 100px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 70px solid #99CCE2;
}
.triang2{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 1229.5px solid transparent;
    border-bottom: 0px solid lightblue;
    border-top: 70px solid #99CCE2;
}*/


/* REGIÃO DE ÍCONES*/

.general-icons{
    display: grid;
    grid-template-areas: "ambiental electrical civil";
    grid-auto-flow: column;
    padding: 120px 0px;
    grid-column-gap: 100pxx;
}

/*ÍCONES AMBIENTAL E TEXTO*/
.ambiental{
    font-family: 'Krona one';
    grid-area: ambiental;
    display: grid;
    justify-content: center;
    align-items: center;
}
.img-ambiental{
    justify-items: center;
    cursor: pointer;
}
.text-ambiental{
    max-width: 150px;
    text-align: center;
    cursor: pointer;
}
.text-ambiental:hover{
    color:#1558FF;
}

/*ÍCONES ELECTRICAL E TEXTO*/
.electrical{
    color: #000;
    font-family: 'Krona one';
    grid-area: electrical;
    display: grid;
    justify-content: center;
    align-items: center;

}
.img-electrical{
    justify-items: center;
    cursor: pointer;
}
.text-electrical{
    max-width: 150px;
    text-align: center;
    cursor: pointer;
}
.text-electrical:hover{
    color: #1558FF;
}

/*ÍCONES CIVIL E TEXTO*/
.civil{
    color: #000;
    font-family: 'Krona one';
    grid-area: civil;
    display: grid;
    justify-content: center;
    align-items: center;
}
.img-civil{
    justify-items: center;
    cursor: pointer;
}
.text-civil{
    max-width: 150px;
    text-align: center;
    cursor: pointer;
}
.text-civil:hover{
    color: #1558FF;
}

/*CONTACTS AREA*/

.contacts{
    font-family: 'Krona one';
    font-weight: lighter;
    text-align: center;
}

.general-contacts{
    font-family: 'Krona one';
    font-weight: lighter;
    font-size: 15px;
    padding: 40px 0px 50px 0px;
    display: grid;
    grid-template-areas: "icon-email icon-phone" "email number1";
    align-items: center;
    justify-content: space-evenly;
    grid-auto-flow: row;
}

.contacts-email{
    grid-template-areas: "icon-email" "email1";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-email{
    grid-area: icon-email;
    display: grid;
    align-items: center;
    justify-content: end;
    padding: 0px 0px 20px 0px;
    color: #0d5fa7;
}
.email1{
    grid-area: email1;
}

.contacts-phone{
    grid-template-areas: "icon-email" "email1";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-phone{
    grid-area: icon-phone;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 20px 0px;
    color: #0d5fa7;
}
.number1{
    grid-area: number1;
}


/* FOOTER AREA*/
.line{
    width: 90%;
    height: 1%;
    color: #000;
    background-color: #000;
    border-radius: 10px;
    border: solid 1px;
}

.footer{
    width: 100%;
    height: 100px;
    padding: 20px 0px 70px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    columns: auto;
    text-align: center;
    font-family: 'Krona one';
    font-size: 12px;
    background-color: #ffffff;

}
.last-logo{
    padding: 20px 0px 0px 0px;
}

/*Estilização da barra de scrow*/

:-webkit-scrollbar{
    background: #1558FF;
}
::-webkit-scrollbar-button{ /*botoes*/
    background: #243C58;
}
::-webkit-scrollbar-thumb{ /*barra de scroll*/
    background: #486177;
    border: none;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{ /*botoes*/
    background: #0d5fa7;
}


/* MEDIAS QUERY  ------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 824px){  /*RESPONSIVIDADE DO FOOTER for tablet*/
    .footer{
        width: 100%;
        height: 100px;
        padding: 50px 0px 70px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: rgb(0, 0, 0);
        columns: auto;
        text-align: center;
        font-family: 'Krona one';
        font-size: 12px;
        background-color: #b61f1f;
    
    }

    .footer-text{
        width: 70%;
    }
}

@media screen and (max-width: 512px){ /*RESPONSIVIDADE DO FOOTER for cell*/
    .footer{
        width: 100%;
        height: 100px;
        padding: 100px 0px 70px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: rgb(0, 0, 0);
        columns: auto;
        text-align: center;
        font-family: 'Krona one';
        font-size: 12px;
        background-color: #af8181;
    
    }

    .footer-text{
        width: 70%;
    }
}

@media screen and (max-width: 1100px){ /*RESPONSIVIDADE DOS CARDS*/
    .cards-general{
        background-color: #ffffff;
        grid-template-areas: "card1" "text1" "card2" "text2" "card3" "text3";
        /*min-width: 1010px;*/
        background-color: #b61f1f;
        grid-auto-flow: column;
    }
    .card-container1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        flex-direction: column;
        grid-row-gap: 70px;
    }
    .card-container2{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        flex-direction: column;
        grid-row-gap: 70px;
    }
    .card-container3{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        flex-direction: column;
        grid-row-gap: 70px;
    }
    .text1{
        grid-area: text1;
        line-height: 50px;
        
        font-size: 15px;
        font-family: 'Krona one';
        width: 550px;
        text-align: center;
    }
    
    .text2{
        grid-area: text2;
        line-height: 50px;
        font-size: 15px;
        font-family: 'Krona one';
        width: 550px;
        text-align: center;
    }
    
    .text3{
        grid-area: text3;
        line-height: 50px;
        font-size: 15px;
        font-family: 'Krona one';
        width: 550px;
        text-align: center;
    }
}

@media screen and (max-width: 683px){
    .text1{
        grid-area: text1;
        line-height: 50px;
        
        font-size: 12px;
        font-family: 'Krona one';
        width: 310px;
        text-align: center;
    }
    .text2{
        grid-area: text2;
        line-height: 50px;
        font-size: 12px;
        font-family: 'Krona one';
        width: 310px;
        text-align: center;
    }
    .text3{
        grid-area: text3;
        line-height: 50px;
        font-size: 12px;
        font-family: 'Krona one';
        width: 310px;
        text-align: center;
    }
    .card1{/*representa o formato geometrico principal*/
        grid-area: card1;
        width: 250px;
        height: 250px;

        border-radius: 100%;
        margin: 3rem 0 0 0;
    
        background: rgb(70, 70, 180);
        /*colocar uma imagem dentro das formas geometricas*/
        filter: grayscale(0);/*da efeito de mudança de cor cinza*/
        background-image: url(/assets/card1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #000;
        cursor: pointer;
        transition: 0.5s ease-in-out;

    }    
    .card2{/*representa o formato geometrico principal*/
        grid-area: card2;
        width: 250px;
        height: 250px;
        min-width: 50px;
        min-height: 50px;
        border-radius: 100%;
        margin: 3rem 0 0 0;
    
        background: rgb(70, 70, 180);
        /*colocar uma imagem dentro das formas geometricas*/
        filter: grayscale(0);/*da efeito de mudança de cor cinza*/
        background-image:  url(/assets/card2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #000;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    
    }    
    .card3{/*representa o formato geometrico principal*/
        grid-area: card3;
        width: 250px;
        height: 250px;
        min-width: 50px;
        min-height: 50px;
        border-radius: 100%;
        margin: 3rem 0 0 0;
    
        justify-content: center;
        align-items: center;
        background: rgb(70, 70, 180);
        /*colocar uma imagem dentro das formas geometricas*/
        filter: grayscale(0);/*da efeito de mudança de cor cinza*/
        background-image:  url(/assets/card3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #000;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    
    }
}

@media screen and (max-width: 680px){   /*RESPONSIVIDADE DOS ÍCONES*/
    .general-icons{
        display: grid;
        grid-template-areas: "ambiental" "electrical" "civil";
        grid-auto-flow: column;
        padding: 120px 0px;
        grid-column-gap: 100px;
        grid-row-gap: 50px
    }
}

@media screen and (max-width: 570px){ /*RESPONSIVIDADE DOS CONTATOS*/
    .general-contacts{
        font-family: 'Krona one';
        font-weight: lighter;
        font-size: 15px;
        padding: 50px 0px 0px 0px;
        display: grid;
        grid-template-areas: "icon-email" "email" "icon-phone" "number1";
        align-items: center;
        justify-content: space-evenly;
        grid-auto-flow: column;
        grid-row-gap: 70px;
    }
}

@media screen and (max-width: 1000px){ /*RESPONSIVIDADE DA FAIXA DE INFORMAÇÕES*/
    .info{
        background: #99CCE2;
        width: auto;
        height: auto;
        font-family: 'krona one';
        display: grid;
        grid-template-areas: "info-title" "info-text" "info-img";
        padding: 0px 120px;
    }
}

@media screen and (max-width: 1141px){ /*RESPONSIVIDADE DO TÍTULO COM SEU CARD e BACKGROUND DO HEADER PART1 for mediun screen*/
    .card-title{
        height: 150px;
        width:120%;
        background-color: #1558FF;
        border-radius: 50px;
        opacity: 30%;
        color: #ffff;
        font-family: 'krona one';
        font-size: 100px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-center;
        /*top: 160px;
        left: 200px;*/
    }
    .initial-card{
        display:flex;
        flex-direction: column;
        justify-content: end;
        align-items:end;
    }
    .header-container{
        grid-area: header;
        box-sizing: border-box;
        width: 100%;
        min-width: 80px;
        height: 87vh;
        background-image: url("/assets/back2.png");
        background-repeat: cover;
        background-position: cover;
    
        background-size: cover;
        border-width: 10px;
        border-color: #1558FF;
        display: flex;
        justify-content: center;
        align-items: center; 
        z-index: -1;
    }
}

@media screen and (max-width: 813px){ /*RESPONSIVIDADE DA IMAGEM DE BACKGROUND NO HEADER PART 2 for small screens*/
    .header-container{
        grid-area: header;
        box-sizing: border-box;
        width: 100%;
        min-width: 20px;
        height: 87vh;
        background-image: url("/assets/back2.png");
        background-repeat: cover;
        background-position: cover;
    
        background-size: cover;
        border-width: 10px;
        border-color: #1558FF;
        display: flex;
        justify-content: center;
        align-items: center; 
        z-index: -1;
    }
}